.mentors_slide_block {
  position: relative;
  max-width: 397px;
  width: 100%;
  height: 348px;
  background: #ffffff;
  border-radius: 20px;
  padding: 0 22px 23px 22px;
  .mentors_slide_block__marque {
    position: absolute;
    right: 0;
  }
  .mentors_slide__description {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    h3 {
      font-family: "Inter";
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 28px;
      text-align: center;
      color: #000000;
    }
    p {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 27px;
      text-align: center;

      color: #000000;
    }
  }
  .linkedin{
    position: absolute;
    object-fit: cover;
    bottom: -64px;
    right: -60px;
  }
}
