.connect_form_section {
  position: relative;
  width: 100%;
  height: 422px;
  background: linear-gradient(97.01deg, #90b2f5 -4.32%, #364cbe 89.23%);
  box-shadow: 0px 3px 34px rgba(157, 92, 221, 0.4);
  border-radius: 20px;
  margin-top: 40px;
  display: flex;
  gap: 120px;
  z-index: 1;
  margin-bottom: 60px;
  .connect_form_section__left_box {
    position: absolute;
    left: -50px;
    bottom: 30px;
  }
  .connect_form_section__right_box {
    position: absolute;
    right: 0;
    top: 10px;
    z-index: -1;
  }
  .connect_form_section__title_block {
    position: relative;
    max-width: 710px;
    width: 100%;
    padding: 104px 0 0 90px;
    h1 {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 53px;
      line-height: 62px;
      text-align: center;
      letter-spacing: -0.01em;
      color: #ffffff;
    }
    .connect_form_section_decstop_arrow {
      position: absolute;
      right: 0;
      top: 270px;
    }
  }
  .connect_form_section_form {
    position: relative;
    max-width: 290px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 73px;
    input {
      width: 100%;
      height: 54px;
      outline: none;
      border: none;
      background: #8098eb;
      border-radius: 34px;
      padding-left: 32px;
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 33px;

      color: rgba(255, 255, 255, 0.8);
    }

    input::placeholder {
      color: rgba(255, 255, 255, 0.8);
    }

    button {
      width: 100%;
      height: 60px;
      border: none;
      background: #ffffff;
      box-shadow: 0px 3px 67px rgba(157, 92, 221, 0.4),
        inset 7px -5px 8px rgba(0, 0, 0, 0.29);
      border-radius: 40px;
      transition-duration: 0.4s;
      -webkit-transition-duration: 0.4s;
      font-family: "Gilroy";
      font-style: normal;
      font-weight: 700;
      font-size: 19px;
      line-height: 25px;
      color: #8098eb;
    }
    .connect_form_section_form__mobile_arrow {
      position: absolute;
      display: none;
    }
    button:hover {
      transform: scale(1.02);
    }
    button:active {
      transform: scale(1.02);
    }
  }
}

@media screen and (max-width: 1150px) {
  .connect_form_section {
    padding: 0 3% 0 1%;
  }
  .connect_form_section_decstop_arrow {
    top: 300px !important;
  }
}

@media screen and (max-width: 980px) {
  .connect_form_section_decstop_arrow {
    display: none;
  }
  .connect_form_section__title_block {
    padding: 75px 0 0 90px !important;
    h1 {
      font-size: 45px !important;
    }
  }
}

@media screen and (max-width: 760px) {
  .connect_form_section {
    flex-direction: column-reverse;
    gap: 0;
    align-items: center;
    padding-bottom: 50px;
    height: 482px !important;
  }
  .connect_form_section_form__mobile_arrow {
    display: block !important;
    top: 310px;
    right: 262px;
  }
  .connect_form_section__title_block {
    padding: 0 0 0 0 !important;
    max-width: 330px !important;
    -webkit-transform: translate3d(0, -50%, 0);
    -moz-transform: translate3d(0, -50%, 0);
    -ms-transform: translate3d(-0, -50%, 0);
    -o-transform: translate3d(-0, -50%, 0);
    transform: translate3d(-0, -50%, 0);
    h1 {
      font-size: 30px !important;
      line-height: 40px !important;
    }
  }
  .connect_form_section__left_box {
    display: none;
  }
  .connect_form_section__right_box {
    top: 300px !important;
  }
  .connect_form_section_form {
    button {
      -webkit-transform: translate3d(0, 325%, 0) !important;
    }
  }
}
