.partners{
  padding: 100px 0;

  &__container{
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }

  &__title{
    text-transform: uppercase;
    font-size: 48px;
    text-align: center;
  }

  &__box{
    width: calc(33.33333% - 20px) !important;
    overflow: hidden !important;
    border-radius: 40px !important;
    box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.25) !important;
    background-color: transparent;

    img{
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: 900px) {
  .partners__box{
    width: calc(50% - 20px) !important;
  }
}

@media (max-width: 600px) {
  .partners__box{
    width: 100% !important;
  }
}


@media (max-width: 450px) {
  .partners__title{
    font-size: 35px;
  }
}
