.problem{
  padding: 143px 0 186px;
  position: relative;
  overflow: hidden;

  &__text{
    position: absolute;
    top: 140px;
    right: 115px;
    font-size: 4rem;
    font-weight: 700;
    display: inline-block;
    padding: 0.25rem 1rem;
    text-transform: uppercase;
    font-family: 'Courier',sans-serif;
    -webkit-mask-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png');
    -webkit-mask-size: 944px 604px;
    mix-blend-mode: multiply;
    color: #4A76CC;
    border: 0.5rem double #4A76CC;
    -webkit-mask-position: 13rem 6rem;
    transform: rotate(-14deg) scale(1.4);

    -webkit-animation-name: pulse;
    animation-name: pulse;
    animation-delay:.5s;
    -webkit-animation-delay:1s;
    -webkit-animation-duration: 1.5s;
    animation-duration: 0.5s;
    opacity: 0;
    -webkit-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
  }

  &__title{
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    width: 40%;
    margin-bottom: 50px;
    span{
      color: #4A76CC;
    }
  }

  &__list li:last-child{
    span{
      padding-right: 250px;
    }
  }

  &__list{
    display: flex;
    flex-direction: column;
    line-height: 58px;
    row-gap: 20px;

    span{
      padding: 30px 71px 30px 17px;
      border-radius: 4px;
      font-weight: 700;
      font-size: 14px;
      text-transform: uppercase;
      color: white;
      position: relative;

      svg{
        font-size: 50px;
        margin-right: 15px;
        transform: translateY(20%);
      }
    }
  }
}

@keyframes pulse{
  0%{
    opacity: 0;
  }
  50%{
    opacity:.50;
    transform-origin: 50% 50%;
    transform: rotate(-2deg) scale(5);
    transition: all .3s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
  100%{
    opacity:1;
    transform: rotate(-15deg) scale(1);
  }
}


@media (max-width: 1300px) {
  .problem__list li:last-child{
    span{
      padding-right: 180px;
    }
  }
}

@media (max-width: 1250px) {
  .problem__list{

    span{
      padding: 30px 5px 30px 17px;
    }
  }

  .problem__list li:last-child{
    span{
      padding-right: 130px;
    }
  }
}

@media (max-width: 1200px) {
  .problem__list{
    line-height:25px;

    span{
      display: flex;
      column-gap: 10px;
      align-items: center;
      position: initial;
      padding: 30px 10px 30px 17px;

      svg{
        position: initial;
        transform: initial;
      }
    }
  }

  .problem__list li:last-child{
    span{
      padding-right: 0;
    }
  }
}

@media (max-width: 1000px) {
  .problem{
    padding: 130px 0 90px;
  }

}

@media (max-width: 900px) {
  .problem__title{
    width: 100%;
  }
  .problem__text{
    display: none;
  }
}

@media (max-width: 850px) {
  .problem{
    padding: 80px 0 40px;
  }

}

@media (max-width: 650px) {
  .problem__list{
    span{
      svg{
        font-size: 70px;
      }
    }
  }
}

@media (max-width: 600px) {
  .problem__title{
    font-size: 30px;
    line-height: 30px;
  }
  .problem__text{
    display: none;
  }
}

@media (max-width: 550px) {
  .problem__list{
    span{
      padding: 10px 10px 10px 17px;
      font-size: 15px;
      svg{
        font-size: 90px;
      }
    }
  }
}

@media (max-width: 550px) {
  .problem__list{
    span{
      padding: 10px;
      svg{
        font-size: 100px;
      }
    }
  }
}

@media (max-width: 550px) {
  .problem__list{
    span{
      padding: 20px;
      svg{
        display: none;
      }
    }
  }
}

@media (max-width: 400px) {
  .problem__title{
   font-size: 25px;
    margin-bottom: 30px;
  }
}

@media (max-width: 350px) {
  .problem__title{
    font-size: 20px;
    margin-bottom: 30px;
  }

  .problem__list{
    span{
      padding: 10px;
      svg{
        font-size: 120px;
      }
    }
  }
}