.priceCard {
  width: 100%;
  height: 100%;
}

.priceCard .swiper-slide {
	display: flex;
	justify-content: space-around;
  /* Center slide text vertically */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}

.priceCard .swiper-slide img {
  /* display: block; */
  /* width: 100%; */
  /* height: 100%; */
  object-fit: cover;
}

.priceCard .swiper-pagination {
  top: 510px !important;
}

.priceCard .swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  background: #dadaff !important;
  opacity: 1 !important;
  transition: 0.6s;
}

.priceCard .swiper-pagination-bullet-active {
  width: 42px !important;
  height: 10px !important;
  background: #c5c5e7;
  transition: 0.6s;
  box-shadow: 0px 3px 34px rgba(157, 92, 221, 0.4);
  border-radius: 20px;
}
