.swiper {
    width: 100%;
    height: 100%;
}

.mySwiper{
    display: flex !important;
    justify-content: center !important;
    padding: 40px 0 !important;
}

.mySwiper .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mySwiper .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mySwiper .swiper-pagination-bullet{
    background: #4A76CC !important;
    opacity:  initial !important;
    transition: .5s !important;
}

 .mySwiper .swiper-pagination-bullet-active {
    transition: .5s !important;
    width: 40px !important;
    border-radius: 10px !important;
}